.nav-header {
    display: block;
    height: 100px;
    background-color: #fff159;
    border: 0;
    position: relative;
    margin: -8px -8px auto;
    padding: 11px 0px 0px;
    font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #333;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.nav-bounds {
    padding: 0 0 0 80px;
    position: relative;
    display: inline-flex;
    margin: 0 auto;
}

.nav-logo {
    background-image: url(../IMAGES/logo-mercado.png);
    height: 34px;
    top: 11px;
    width: 140px;
    background-repeat: no-repeat;
    border: 0;
    margin-right: 20px;
}

.nav-search {
    margin-right: 94px;
    margin-left: 35px;
    max-width: 600px;
}

.nav-input-search {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    height: 39px;
    position: relative;
    padding: 7px 60px 9px 15px;
    border-radius: 2px;
    background-color: #fff;
    border: 0 rgba(0, 0, 0, .2);
    box-sizing: border-box;
    z-index: 915;
    color: #333;
    font-size: 16px;
    width: 598px;
    margin: 0;
    font-family: inherit;
}

.nav-search-btn {
    background-color: #fff;
    border: 0 rgba(0, 0, 0, .2);
    border-radius: 2px;
    width: 46px;
    height: 39px;
    position: absolute;
    padding: 8px 10px;
}

.nav-icon-search {
    background-image: url(../IMAGES/search.png);
    width: 46px;
    height: 39px;
    background-repeat: no-repeat;
}

.oferta-imagen {
    display: inline-block;
    position: relative;
    width: 340px;
    height: 39px;
}

.nav-menu {
    display: inline-flex;
    margin: 0 0 0 80px;
    max-width: 1024px;
}


.nav-menu-list {
    list-style: none;
    padding: 0;
    margin: 12px 0 10px;
    display: inline-flex;
}

.nav-img-shop {
    position: inherit;
}
.nav-img-loc {
    position: absolute;
}

.nav-menu-item {
    display: inline-block;
    line-height: 22px;
    font-size: 14px;
    padding-right: 32px;
    width: auto;
    text-decoration: none;
    transition: color .3s ease-out;
    color: #333;
}

.nav-menu-item-link{
    color: rgba(51, 51, 51, .6);
}
.nav-menu-item:first-child {
    font-weight: 400;
    width: 186px;
}

.nav-none {
    text-decoration: none;
}

.nav-menu-cp-send {
    position: relative;
    font-size: 12px;
    color: rgba(0, 0, 0, .5);
    width: 100%;
    left: 15px;
    padding: 6px 0 0 13px;
    margin-right: 8px;
    line-height: 10px;
    height: 20px;
    font-weight: inherit;
}

.nav-menu-link-cp {
    line-height: 13px;
    height: 20px;
    color: #333;
    padding-left: 28px;
    padding-right: 3px;
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.nav-menu-link-cp-cuenta{
    line-height: 13px;
    height: 32px;
    color: #333;
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.nav-menu-categories {
    color: rgba(51, 51, 51, .6);
    text-decoration: none;
}

li a, .dropbtn {
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    margin: 0 12px;
}

li.dropdown {
    display: inline-block;
}
ul {
    top: 3%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: max-content;
}
li {
    float: left;
}
li a:hover, .dropdown:hover .dropbtn {
    color:#333;
}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #241f1f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #3483fa;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.nav-header-menu{
    padding: 20px;
    position: absolute;
}
.section-img{
    padding: 100px 0px 0px;
    width: 1349px;
    height: 100%;
    margin: 0px 0px 0px -8px;
    position: inherit;
    overflow: hidden;
}
.div-content{
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    max-width: 1366px;
    padding-left: 8px;
    padding-right: 8px;
    margin: -10px -10px;
    padding: 30px 0;
    background-color: lightgray;
    overflow: hidden;
}
.div-pago-info{
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90px;
    margin: 0 auto;
    max-width: 1180px;
    overflow: hidden;
}
.pago-data-grupo {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}

.pago-data-section{
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    font-size: 18px;
    padding: 20px;
    white-space: nowrap;
    height: 90px;
} 
.pago-data-section-leading{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    position: relative;
    padding-left: 32px;
}
.pago-data-section-leading::before{
    background-color: #3483fa;
    bottom: 4px;
    content: "";
    left: 4px;
    position: absolute;
    top: 4px;
    width: 4px;
}
.pago-data-grupo-leading{
    border-right-width: 1px;
    border-right-color: #999;
}
.pago-data-titulo{
    display: inline-block;
    margin-top: 1px;
}
.pago-data-sub{
    color: #999;
    font-size: 14px;
    margin-top: -1px;
}
.pago-data-grupo-promo{
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}
.pago-data-section-promo{
    -webkit-box-flex: 0;
    flex: 0 1 auto;
}
.pago-data-section-promo-logo{
    display: -webkit-box;
    display: flex;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    font-size: 18px;
    white-space: nowrap;
    height: 90px;

}
.color-a-sub{
    color: #3483fa;
    text-decoration: none;
}
.pago-data-iss{
    margin: auto;
}
.pago-logo{
    background: url(https://http2.mlstatic.com/secure/payment-logos/v2/payment-logos-mlm-large_v_4b35e216e9.png) no-repeat;
}
.varios-elementos{
    width: 130px;
    height: 24px;
    background-position: left -673px;
}
.pago-data-grupo-trailing{
    border-left-width: 1px;
}
.pago-data-section-trailing{
    border-left-width: 1px;
}
.pago-data-icon{
    float: left;
    margin-right: 16px;
    width: 48px;
    height: 54px;
}
